html {
    scroll-behavior: smooth;
}

.container {
    margin-bottom: 0vh;
}

/* ------helpers------ */

.separator {
    border-bottom: 1px #000 solid;
}

.anchor {
    display: block;
    position: relative;
    top: -10vh;
    visibility: hidden;
}

.navbar-offset {
    margin-top: calc(60px + 4vh);
}

.titleset h1, .titleset h2 {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 1px #000;
    text-shadow: 0px 0px 10px #999;
    background-color: rgba(47, 199, 223, 1);
    font-family: 'Muli', sans-serif;
}

.titleset h1 {
    padding: 0.5em;
    font-size: 1.5em;
}

@media only screen and (min-width: 992px) {
    .titleset h1 {
        font-size: 3em;
    }
}

.titleset h2 {
    padding: 1em;
    font-size: 1em;
}

/* -------navbar------- */

.navbar {
    background-color: rgba(47, 199, 223, 1);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
    z-index: 2;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transition: background-color 300ms linear;
}

@media only screen and (min-width: 768px) {
    #homepage .navbar {
        background-color: rgba(0, 0, 0, 0);
    }
}

.navbar-scrolled {
    background-color: rgba(47, 199, 223, 1);
}

/* -------hero------- */

.hero {
    position: relative;
    min-height: 100vh;
    padding-top: 30vh;
    margin-bottom: 0vh;
    box-shadow: inset 0 -5px 30px 1px #000;
}

@media only screen and (min-width: 768px) {
    .hero {
        padding-top: 30vh;
    }
}

@media only screen and (min-width: 992px) {
    .hero {
        padding-top: 30vh;
    }
}

.hero h1, .hero p {
    color: #fff;
    text-shadow: 0px 0px 1px #000;
    text-shadow: 0px 0px 40px #000;
    background-color: rgba(0,0,0,0.75);
    padding: 0.5em;
    display: inline-block;
}

.hero h1 {
    font-size: 2em;
}

.hero p {
    font-size: 1em;
}

@media (min-width: 768px) {
    .hero h1 {
        font-size: 4em;
    }
    .hero p {
        font-size: 2.5em;
    }
}

@media (min-width: 992px) {
    .hero h1 {
        font-size: 4em;
    }
    .hero p {
        font-size: 1.5em;
    }
}

.jumbo-down {
    width: 100%;
    position: absolute;
    bottom: 3vh;
    text-align: center;
}

.jumbo-down-button {
    color: #fff;
    text-shadow: 0px 0px 40px #000;
    transition: text-shadow 0.5s;
    font-size: 5em;
    transition: font-size 0.2s;
}

.jumbo-down-button:hover {
    text-shadow: 0px 0px 60px #000;
    font-size: 6em;
}

/* -------recents-3x------- */

.recents {
    min-height: 50vh;
    margin-bottom: 10vh;
}

.recents-row col-sm{
    padding: 0px;
}

.recents-col {
    height: 25vh;
    min-height: 25vh;
    color: #fff;
    overflow: hidden;
    padding: 0px;
}

.recents-col-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 3vh 3vw 3vh 3vw;
    background-color: rgba(0,0,0,0);
    z-index: 2;
    /*box-shadow: inset 0 0 10px #000000;*/
}

.recents-col-content h4, .recents-col-content p {
    text-align: center;
    padding: 0.2em 0.1em 0.2em 0.1em;
    background-color: rgba(0,0,0,0.6);
    box-shadow: 0 0 10px #444;
    color: #fff;
}

.recents-col-bg {
    width: 100%;
    min-height: 100%;
    background-size: 110%;
    background-position: center;
    transition: background-size 0.3s;
}

.recents-col-bg:hover {
    background-size: 140%;
}

/* ------recents-cards------- */

.recents-cards {
    background-color: rgba(1, 107, 131, 1);
    padding-bottom: 5vh;
}

.recents-cards h2 {
    padding-top: 2vh;
    margin-bottom: 2vh;
    color: #fff;
    font-size: 5em;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

@media only screen and (min-width: 768px) {
    .recents-cards h2 {
        text-align: left;
    }
}

.recents-cards-item {
    min-width: 100%;
    min-height: 100%;
    padding-bottom: 3vh;
}

.recents-cards-item a {
    color: inherit;
}

.recents-cards-item a:hover {
    text-decoration: none;
    color: inherit;
}

.recents-cards-inner {
    background-color: #fff;
    box-shadow:  0px 8px 33px -9px #000;
}

.recents-cards-image {
    padding: 3vh 2vw 3vh 2vw;
}

@media only screen and (min-width: 768px) {
    .recents-cards-image {
        padding: 4vh 2vw 4vh 2vw;
    }
}

@media only screen and (min-width: 992px) {
    .recents-cards-image {
        padding: 4vh 2vw 4vh 2vw;
    }
}

.recents-cards-image img {
    width: 100%;
    height: auto;
}

.recents-cards-text {
    padding: 4vh 2vw 4vh 2vw;
}

.recents-cards-text h4 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .recents-cards-text h4 {
        font-size: 1.25em;
    }
}

@media only screen and (min-width: 1200px) {
    .recents-cards-text h4 {
        font-size: 1.5em;
    }
}

.recents-cards-date {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
}

.recents-cards-date p {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .recents-cards-date {
        bottom: 3vh;
        right: 2vw;
    }
}

/* ------triple box------ */

.tbox-left {
    background-color: rgba(47, 199, 223, 1);
}

.tbox-center {
    background-color: rgba(100, 205, 227, 1);
}

.tbox-right {
    background-color: rgba(47, 199, 223, 1);
}

.tbox-content {
    padding: 3vh 3vw 3vh 3vw;
    color: rgb(255, 255, 255);
}

.tbox-titlebox {
    height: 4em;
}

@media only screen and (min-width: 768px) {
    .tbox-titlebox {
        height: 3.5em;
    }
}

@media only screen and (min-width: 992px) {
    .tbox-titlebox {
        height: 4em;
    }
}

@media only screen and (min-width: 1200px) {
    .tbox-titlebox {
        height: 4.25em;
    }
}

.tbox-content h2 {
    font-family: 'Muli', sans-serif;
    font-size: 3em;
    text-align: center;
    transition: font-size 0.3s;
}

@media only screen and (min-width: 768px) {
    .tbox-content h2 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 992px) {
    .tbox-content h2 {
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 1200px) {
    .tbox-content h2 {
        font-size: 3em;
    }
}

@media only screen and (min-width: 992px) {
    .tbox-content:hover h2 {
        font-size: 3em;
    }
}

@media only screen and (min-width: 1200px) {
    .tbox-content:hover h2 {
        font-size: 3.25em;
    }
}

.tbox-content p {
    text-align: center;
}

.tbox-counter {
    left: 50%;
}

.tbox-content h3 {
    margin: 1vh 4.5vw 2vh 4.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1.5em;
    text-align: center;
    border: 5px solid #fff;
}

/* ------block title content------ */
.block-tc {
    margin-bottom: 0;
    padding: 10px;
    background-color: rgb(1, 107, 131);
    color: #fff;
}

.block-tc h2 {
    font-size: 5em;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .block-tc h2 {
        font-size: 5em;
        text-align: left;
    }
}

/* ------footer------ */

.footer {
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: rgba(47, 199, 223, 1);
}

.footer h1 {
    color: rgb(255, 255, 255);
}

.footer p {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
}

.footer-right {
    padding-top: 1.75vh;
}

/*------------------------------------------*/

/* ------record bootstrap container------ */
#record-container {
    padding-top: calc(60px + 4vh);
}


#record-container h1 {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 1px #000;
    text-shadow: 0px 0px 10px #999;
    background-color: rgba(47, 199, 223, 1);
    padding: 0.5em;
    font-size: 1.5em;
    font-family: 'Muli', sans-serif;
}

@media only screen and (min-width: 992px) {
    #record-container h1 {
        font-size: 3em;
    }
}

#record-container h2 {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 1px #000;
    text-shadow: 0px 0px 10px #999;
    background-color: rgba(47, 199, 223, 1);
    padding: 1em;
    font-size: 1em;
    font-family: 'Muli', sans-serif;
}

#record-content {
    padding-top: 3vh;
    padding-bottom: 40vh;
}

#record-container h4 {
    font-weight: bold;
    font-family: 'Muli', sans-serif;
}

.record-body h4 {
    padding-bottom: 2vh;
}

@media only screen and (min-width: 992px) {
    .record-toc-inner {
        position: sticky;
        top: 10vh;
    }
}

.record-anchor {
    display: block;
    position: relative;
    top: -10vh;
    visibility: hidden;
}