{% extends 'partials/_master.twig' %}

{% block body %}
<div id="homepage" class="main-content">
    {{ include('partials/frontpage/_hero.twig') }}
    <div id="afterhero" class="anchor-nopad"></div>
    {{ include('partials/frontpage/_explore.twig') }}
    {{ include('partials/frontpage/_recent_entries.twig') }}
    {{ include('partials/frontpage/_recent_galleries.twig') }}
</div>
{% endblock body %}