// --------- title block ---------

%titleset {
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: $thm-color-primary;
}

.titleset {

    h1 {
        @extend %titleset;

        padding: 0.5em;
        font-size: 1.5em;

        @include breakpoint-lg {
            font-size: 3em;
        }
    }

    h2 {
        @extend %titleset;

        padding: 1em;
        font-size: 1em;
    }

}