{# Adspot #}
{# Placed where ads are to be rendered #}
<div class="advs">

    <p class="advs-title">Advertisement</p>

    <div class="d-flex justify-content-center">

        {# Desktop Banner Ads #}
        <div class="advs-banner d-none d-lg-block">
            {% setcontent advsbanner_block = 'blocks/website-advsbanner' %}
            {% if advsbanner_block.contenthtml %}
                {{ advsbanner_block.contenthtml }}
            {% endif %}
        </div>

        {# Mobile Square Ads #}
        <div class="advs-mobile d-lg-none">
            <p class="advs-title">Advertisement</p>
            {% setcontent advsmobile_block = 'blocks/website-advsmobile-sq' %}
            {% if advsmobile_block.contenthtml %}
                {{ advsmobile_block.contenthtml }}
            {% endif %}
        </div>

    </div>

</div>