$thm-font: 'Varela Round', sans-serif;

//$thm-color-primary:   rgb(47, 199, 223);
//$thm-color-primary: rgb(255,69,118);
//$thm-color-secondary: rgb(100, 205, 227);
//$thm-color-bg:        rgb(1, 107, 131);

$thm-color-primary:   rgb(38,122,186);
$thm-color-secondary: rgb(77, 188, 233);
$thm-color-bg:        rgb(75,144,199);
$thm-btn:             rgb(0, 123, 255);