.tbox {
    filter: drop-shadow(0 0 30px rgb(33, 33, 33));
}

.tbox-titlebox {
    height: 4em;

    @include breakpoint-md {
        height: 3.5em;
    }

    @include breakpoint-lg {
        height: 4em;
    }

    @include breakpoint-xl {
        height: 4.25em;
    }
}

.tbox-left {
    background-color: $thm-color-primary;
}

.tbox-center {
    background-color: $thm-color-secondary;
}

.tbox-right {
    background-color: $thm-color-primary;
}

.tbox-counter {
    left: 50%;
}

.tbox-content {
    padding: 3vh 3vw 3vh 3vw;
    color: rgb(255, 255, 255);

    h2 {
        font-size: 3em;
        text-align: center;
        font-family: $thm-font;
        transition: font-size 0.3s;

        @include breakpoint-md {
            font-size: 2em;
        }

        @include breakpoint-lg {
            font-size: 2.5em;
        }

        @include breakpoint-xl {
            font-size: 3em;
        }
    }

    h2:hover {
        @include breakpoint-lg {
            font-size: 3em;
        }

        @include breakpoint-xl {
            font-size: 3.25em;
        }
    }

    h3 {
        margin: 1vh 4.5vw 2vh 4.5vw;
        padding-top: 1vh 0 1vh 0;
        font-size: 1.5em;
        text-align: center;
        border: 5px solid rgb(255, 255, 255);
    }

    p {
        text-align: center;
    }
}
